<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <tx:annotation-driven transaction-manager="txManager"/>
    <context:component-scan base-package="com.javaWorkspace.dao"/>

    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:http://127.0.1.1/campus"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="courseDao" class="com.javaWorkspace.dao.CourseDao"/>
    <bean id="courseService" class="com.javaWorkspace.bl.CourseService">
        <property name="courseDao" ref="courseDao"/>
    </bean>

    <bean id="studentDao" class="com.javaWorkspace.dao.StudentDao"/>
    <bean id="studentService" class="com.javaWorkspace.bl.StudentService">
        <property name="studentDao" ref="studentDao"/>
    </bean>

    <bean id="teacherDao" class="com.javaWorkspace.dao.TeacherDao"/>
    <bean id="teacherService" class="com.javaWorkspace.bl.TeacherService">
        <property name="teacherDao" ref="teacherDao"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.javaWorkspace.beans"/>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=org.hibernate.dialect.H2Dialect
                hibernate.default_schema=INFORMATION_SCHEMA
                hibernate.show_sql=true
            </value>
        </property>
    </bean>

    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>